.latest-offers-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(77, 77, 77);
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.latest-offers-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    margin: 0 20px 40px 20px;
}

.latest-offers-box {
    
}
.latest-offers-image {
    
}